body {
    background-color: green;
}


/* creating the Head containers */
.header {
    background-color: rgb(160, 246, 217);
    height: 40px;
    position: relative;
}

.menuImg-heading {
    width: 30%;
    float: left;
    height: 40px;
    display: flex;
    align-items: center;
}

.headerImg {
    display: inline;
    margin: 0 10px 0 10px;
}

.headerHeading {
    display: inline;
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.searchImg-searchInput {
    height: 40px;
    width: 45%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: end;
    position: absolute;
    right: 20%;
}

.searchInput {
    margin-right: 10px;
    border-radius: 20px;
    height: 23px;
}

.notificationImg-profileImg {
    height: 40px;
    float: right;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: end;
}


@media screen and (max-width: 610px) {

    .headerHeading {
        margin-left: 10px;
    }

    .searchImg-searchInput {
        width: 10%;
    }

    .searchInput {
        display: none;
    }

    .menuImg-heading {
        width: 60%;
    }

    .headerHeading {
        margin-left: 1px;
    }

    .notificationImg-profileImg {
        width: 23%;
    }

    .headerImg {
        margin: 0 6px 0 6px;

    }
}




/* creating the left container */
.left-container {
    background-color: coral;
    width: 15%;
    float: left;
    height: 601px;
    position: relative;
}

.left-container-heading {
    font-size: 1.7rem;
    margin: 10px 0 10px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.menu-list {
    background-color: crimson;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    height: 40px;
    margin-bottom: 5px;
}

.menu-list-item-title {
    font-size: 1.3rem;
    text-align: center;
    margin-left: 10px;
}

.menu-list-item-img {
    margin-left: 10px;
    width: 25px;

}

.menu-list-btns-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 87%;
    right: 27%;
}

.menu-list-btns {
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menu-list-btns img {
    width: 20px;
}

.menu-list-btns .menu-btns-text {
    margin-left: 3px;
    font-size: 1rem;
}

/* creating the body container */

.body-container {
    background-color: rgb(46, 77, 255);
    width: 60%;
    float: left;
    height: 601px;
}

/* upper body container */

.upper-body-container {
    background-color: darkcyan;
    height: 210px;
}

.body-container-heading {
    background-color: cornflowerblue;
    font-size: 1.7rem;
    margin-top: 5px;
    margin-left: 15px;
}

.question-area {
    background-color: #dadada;
    height: 120px;
    width: 95%;
    margin-left: 2%;
    border-radius: 10px;
    margin-top: 1.5%;
}

.question-area textarea {
    height: 112px;
    border-radius: 15px;
    width: 100%;
}

.question-btns-container {
    background-color: #ff0000;
    margin-top: 0.5%;
    margin-bottom: 3%;
    height: 40px;
    width: 96%;
    margin-left: 2%;
    display: flex;
    align-items: center;
    position: relative;
}

.question-select-btns {
    margin-left: 5px;
    border-radius: 10px;
    padding: 2px;
}

.question-link-btns {
    background-color: #ffa7a7;
    display: flex;
    align-items: center;
    position: absolute;
    left: 25%;
}

.question-btns {
    margin-left: 10px;
    padding: 2px;
    height: 25px;
    border-radius: 5px;
}

.question-btns img {
    height: 15px;
}

.question-submit-btn {
    position: absolute;
    right: 30px;
    border-radius: 5px;
    padding: 2px;
    width: 7%;
}



/* lower body container */
.body-middle-container {
    background-color: rgb(131, 255, 94);
    height: 340px;
    border-radius: 15px;
    overflow: auto;
    margin-left: 15px;
    margin-right: 15px;
}

.body-middle-container p {
    margin-left: 23px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

.body-upper-container {
    margin-top: 10px;
}

.body-upper-container,
.body-lower-container {
    background-color: rgb(255, 255, 255);
    height: 40px;
    border-radius: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.body-lower-container {
    height: 230px;
}

.body-lower-container-profile {
    height: 45px;
    border-radius: 15px 15px 0px 0px;
    border-bottom: 2px solid black;

}

.profile-container-left {
    width: 50%;
    float: left;
    height: 45px;
}

.profile-container-right {
    width: 30%;
    display: flex;
    align-items: center;
    float: right;
    height: 45px;
}



.img-profile {
    width: 10%;
    float: left;
    height: 35px;
    margin-top: 3px;
    margin-left: 10px;
    background: url('/assets/img/icons8-menu-25.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-container {
    width: 70%;
    float: left;
    margin-top: 3px;
    margin-left: -10px;
}

.profile-name {
    font-weight: bolder;
    font-size: 12px;
}

.profile-description {
    font-size: 12px;
}

.profile-followBtn {
    background-color: #ffffff;
    border: 1px solid blue;
    border-radius: 10px;
    color: blue;
    cursor: pointer;
    position: absolute;
    right: 380px;
}

.body-lower-btn-container {
    margin: 5px 15px 0px 15px;
    background-color: rgb(209, 255, 162);
}


.btn-dashboard {
    border-radius: 10px;
    margin-right: 13px;
}





#responseFollowBtn {
    height: 10%;
    float: right;
    margin-right: 5%;
    margin-top: 1%;
    display: flex;
}



@media screen and (max-width: 960px) {
    .left-container-heading {
        font-size: 1rem;
    }

    .menu-list-item-title {
        font-size: 1rem;
        margin-left: 6px;
    }

    .menu-list-item-img {
        width: 20px;
    }

    .menu-list-btns-container {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 87%;
        right: 22%;
    }
}


@media screen and (max-width: 768px) {
    .left-container-heading {
        font-size: 0.8rem;
    }

    .menu-list-item-title {
        display: none;
    }

    .menu-list-item-img {
        width: 20px;
    }

    .left-container {
        width: 5%;
    }




}


@media screen and (max-width: 425px) {
    .left-container {
        display: none;
    }

}





/* creating the right container */
.right-container {
    background-color: rgb(220, 188, 188);
    float: right;
    width: 25%;
    height: 601px;
}

